<!---------------------------------------------CONTENEDOR DE REGISTRO-------------------------------------------------------------->
<div class="row">
    <div class="col-sm-4">
        <h2 class="title">Actualizar Usuarios</h2>  
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <form #update_form="ngForm">
                    <!--NOMBRE DE USUARIO-->
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Insert name"
                            name='name'
                            #name="ngModel"
                            [(ngModel)]='selectedUser.name'
                            required
                        >
                    </div>
                    <!--CONTRASEÑA DE USUARIO-->  
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input 
                            type="text" 
                            class="form-control"
                            name='password'
                            #password="ngModel"
                            [(ngModel)]='selectedUser.password'
                            required
                        >
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="getUser(update_form)">Save</button>
                    <button type="button" class="btn btn-primary" routerLink="">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>